name: Lint

on:
  workflow_call:
    inputs: {}

jobs:
  lint:
    name: Run Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.x"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --config ./.golangci.toml --timeout 5m
          # Only show new issues on pull requests
          only-new-issues: ${{ github.event_name == 'pull_request' }}
